.main-section {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 2em 0;
}
h3{
    text-align: center;
}
.name{
    font-size: 3rem;
    text-align: center;
}

textarea{
    padding: 1em;
    border: 2px solid orangered;
    border-radius: 5px;
}

.randomize {
    display: block;
    padding: 1em 2em;
    background: orangered;
    color: white;
    border: none;
    margin: 1em auto 0 auto;
    cursor: pointer;
}

